:root{
    --vermelho: #E50914;
    --preto: #000;
    --cinza: #AAA;
    --branco: whitesmoke;
    --preto-transparente: rgba(10,10,10,0.5);
    --branco-transparente: rgba(240, 240, 240, 0.3);
    --branco-intenso-transparente: rgba(250, 250, 250, 0.5);
    --pelicula: linear-gradient(rgba(0,0,0,0.9), 35%,var(--preto-transparente), 80% ,var(--branco-transparente) 95%, var(--branco-intenso-transparente) 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 3s
   
}

/* elementos base */

body {
    background: var(--preto);
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    color: var(--branco);
}

.container {
    margin-left: 3vw;
}

/* header */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    padding-left: 0;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 3rem;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

header .logo:hover {
    font-size: 3.1rem
}

header nav {
    margin-right: 5vw;
}

header nav a { 
    text-decoration: none;
    color: var(--cinza);
    margin-right: 1vw;
    transition-duration: 1s;
}

header nav a:hover {
    color: var(--branco);
    text-shadow: 5px 5px 20px var(--branco-transparente);
}



/* filme-principal */

main {
    overflow: auto;
}

.filme-principal {
    font-size: 1.1rem;
    background: var(--pelicula), url('/img/capa-house.jpg');
    
    height: 80vh;
    min-height: 600px;
    background-size: cover;
    
    
}

.filme-principal .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.filme-principal .card-texto {
    margin-top: 10vh;
    width: 70vw;
    margin-bottom: 10vh;

}

.filme-principal .titulo {
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 300;
}

.filme-principal .descricao {
    font-weight: 100;
    font-size: 1em;
}

.filme-principal button {
    
    text-transform: uppercase;
    color: var(--branco);
    border: outset;
    border-color: rgba(0,0,0,0.1);
    background-color: var(--preto-transparente);
    transition-duration: 2s;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 0.7rem;

}

.filme-principal button:hover {
    color: var(--preto);
    background-color: var(--branco-transparente);
    cursor: pointer;
}

.filme-principal button i {
    margin-right: 0.4rem;
}

.carrosel-filmes {
    margin-top: 0.5vh;
}


.owl-carousel .item {
    transition: 10s;
}

.owl-carousel .item:hover {
    transform: scale(2);
}