@media screen and (max-width: 600px) {

    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .logo {
        font-size: 2.0rem;
    }

    header .logo:hover {
        font-size: 2.1rem
    }

    header nav {
        margin: 0;
    }

    header nav a {
        font-size: 0.8rem;
    }

    .filme-principal {
        height: 70vh;
        background-position: left;
    }

    .filme-principal .card-texto {
        width: 90vw;
        margin-bottom: 2vh;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }

    .filme-principal button {
        margin-top: 5px;
    }
}

@media screen and (min-width: 1200px) {
    header .logo {
        font-size: 4rem;
    }

    header .logo:hover {
        font-size: 4.2rem
    }

    header nav a {
        font-size: 2rem;
    }

    .filme-principal .card-texto {
        width: 50%; 
    }

    .filme-principal .card-texto .titulo {
        font-size: 3.2rem;
        font-weight: 400;
    }

    .filme-principal .card-texto .descricao {
        font-size: 1.5rem;
        font-weight: 100;
    }
}

@media screen and (max-height: 300px) {
    header .logo {
        font-size: 2rem;
    }

    header .logo:hover {
        font-size: 2.2rem
    }

    header nav a {
        font-size: 1rem;
    }


    .filme-principal {
        background: var(--pelicula), url('/img/capa-house-min.png');
    }
    
    .filme-principal .card-texto .titulo{
        font-size: 1.0rem;
        font-weight: 100;
    }

    .filme-principal .card-texto .descricao{
        font-size: 0.8rem;
        font-weight: 100;
    }
}